
<div class="container-fluid">
    <div class="row">
      <!-- Articles -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-1">
            <div class="shadow-sgr rounded d-flex justify-content-center align-items-center" style="height: 60px;">
                <div><mat-icon class="mat-18 text-sgr" style="font-size:50px">article</mat-icon></div>
                <div class="container mb-2 mx-2">
                    <p class="p-0 m-0 text-muted">Articles</p>
                    <p style="font-size: x-large;font-weight: bolder;" class="p-0 m-0">{{articles.length}}</p>
                </div>
            </div>
        </div>
        <!-- Categories -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-1">
          <div class="shadow-sgr rounded d-flex justify-content-center align-items-center" style="height: 60px;">
              <div><mat-icon class="mat-18 text-sgr" style="font-size:50px">category</mat-icon></div>
              <div class="container mb-2 mx-2">
                  <p class="p-0 m-0 text-muted">Catégories</p>
                  <p style="font-size: x-large;font-weight: bolder;" class="p-0 m-0">{{categories.length}}</p>
              </div>
          </div>
      </div>
      <!-- Fournisseurs -->
      <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-1">
        <div class="shadow-sgr rounded d-flex justify-content-center align-items-center" style="height: 60px;">
            <div><mat-icon class="mat-18 text-sgr" style="font-size:50px">local_shipping</mat-icon></div>
            <div class="container mb-2 mx-2">
                <p class="p-0 m-0 text-muted">Fournisseurs</p>
                <p style="font-size: x-large;font-weight: bolder;" class="p-0 m-0">{{fournisseurs.length}}</p>
            </div>
        </div>
    </div>
    <!-- Employés -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-1">
      <div class="shadow-sgr rounded d-flex justify-content-center align-items-center" style="height: 60px;">
          <div><mat-icon class="mat-18 text-sgr" style="font-size:50px">badge</mat-icon></div>
          <div class="container mb-2 mx-2">
              <p class="p-0 m-0 text-muted">Employés</p>
              <p style="font-size: x-large;font-weight: bolder;" class="p-0 m-0">{{employees.length}}</p>
          </div>
      </div>
    </div>

    <!--  Receptions -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-1">
      <div class="shadow-sgr rounded d-flex justify-content-center align-items-center" style="height: 60px;">
          <div><mat-icon class="mat-18 text-sgr" style="font-size:50px">call_received</mat-icon></div>
          <div class="container mb-2 mx-2">
              <p class="p-0 m-0 text-muted">Receptions</p>
              <p style="font-size: x-large;font-weight: bolder;" class="p-0 m-0">{{receptions.length}}</p>
          </div>
      </div>
    </div>
    <!-- Fournisseurs -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-1">
      <div class="shadow-sgr rounded d-flex justify-content-center align-items-center" style="height: 60px;">
          <div><mat-icon class="mat-18 text-sgr" style="font-size:50px">push_pin</mat-icon></div>
          <div class="container mb-2 mx-2">
              <p class="p-0 m-0 text-muted">Affectations</p>
              <p style="font-size: x-large;font-weight: bolder;" class="p-0 m-0">{{affectations.length}}</p>
          </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-1">
      <div class="shadow-sgr rounded d-flex justify-content-center align-items-center" style="height: 60px;">
          <div><mat-icon class="mat-18 text-sgr" style="font-size:50px">trip_origin</mat-icon></div>
          <div class="container mb-2 mx-2">
              <p class="p-0 m-0 text-muted">Divisions</p>
              <p style="font-size: x-large;font-weight: bolder;" class="p-0 m-0">{{divisions.length}}</p>
          </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 col-12 my-1">
      <div class="shadow-sgr rounded d-flex justify-content-center align-items-center" style="height: 60px;">
          <div><mat-icon class="mat-18 text-sgr" style="font-size:50px">unarchive</mat-icon></div>
          <div class="container mb-2 mx-2">
              <p class="p-0 m-0 text-muted">Épaves</p>
              <p style="font-size: x-large;font-weight: bolder;" class="p-0 m-0">{{affectationArticles.length}}</p>
          </div>
      </div>
    </div>

    </div>
</div>
