<ngx-loading [show]="loading"></ngx-loading>
<div class="container-fluidz">
  <div class="container-fluid my-5 px-0" *ngIf="currentPage==='list'">
    <div class="container p-3">
        <h2 class="text-muted">Listes des Categories</h2>
    </div>
    <div class=" mat-elevation-z2">
  <div class="d-flex justify-content-between align-items-center">
      <div class="p-2">
        <mat-form-field class="example-full-width mx-2" style="min-width: 40vh;">
          <mat-label>Rechercher une categorie</mat-label>
          <input matInput name="searchParam" [(ngModel)]="searchParam.query" (keyup)="applyFilter()">
        </mat-form-field>
        <button matTooltip="Actualiser" (click)="findAll()" class="mx-2" mat-mini-fab color="primary" aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>sync</mat-icon>
        </button>
        <button matTooltip="Ajouter une catégorie" (click)="onAdd()" class="mx-2" mat-raised-button color="primary" aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>add</mat-icon> NOUVELLE CATÉGORIE
        </button>
      </div>
  </div>
    <table mat-table class="container-fluid rounded" [dataSource]="dataSource">
      <ng-container matColumnDef="libelle">
        <th mat-header-cell class="table-header text-dark" style="font-size: small;" *matHeaderCellDef> NOM CATÉGORIE</th>
        <td mat-cell *matCellDef="let element"> {{element?.nom}} </td>
      </ng-container>
      <ng-container matColumnDef="categorie">
        <th mat-header-cell class="table-header text-dark" style="font-size: small;" *matHeaderCellDef> DATE CRÉATION </th>
        <td mat-cell *matCellDef="let element"> {{element?.createdAt | date: 'd MMMM y'}} </td>
      </ng-container>
      <ng-container matColumnDef="stock">
        <th mat-header-cell class="table-header text-dark" style="font-size: small;" *matHeaderCellDef> DATE MODIFICATION </th>
        <td mat-cell *matCellDef="let element"> {{element?.updateAt | date: 'd MMMM y'}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell class="table-header text-dark" style="font-size: small;" *matHeaderCellDef> ACTIONS </th>
        <td mat-cell class="" *matCellDef="let element">
          <div class="row">
            <!-- <button matTooltip="Voir" (click)="onSelection(element,'detail')" class="" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>visibility</mat-icon>
            </button> -->
            <button matTooltip="Modifier" (click)="onSelection(element,'edit')" class="" mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>edit</mat-icon>
            </button>
            <button matTooltip="Supprimer" (click)="onDelete(element)" class="" mat-icon-button color="accent" aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell border-0" colspan="7">
          <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
                <img src="assets/images/not-found.svg" style="width: 200px;height: 200px;" alt="">
                <h3>Aucune donnée trouvée</h3>
          </div>
        </td>
      </tr>
    </table>
    <mat-paginator *ngIf="categories.length!==0" [pageSize]="10" [pageSizeOptions]="[10,25,50, 100]"></mat-paginator>
  </div>
  </div>
</div>

<!-- Edit  -->
<div class="container-fluid my-5 p-3" *ngIf="currentPage==='edit'">
  <div class="d-flex container-fluid flex-column justify-content-center align-items-center">
    <div class="d-flex container align-items-center mb-4">
      <button matTooltip="Retour" (click)="onListSelection()"  class="mx-2" mat-mini-fab color="primary" aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1 class="mt-3">MODIFICATION DE LA CATÉGORIE</h1>
    </div>
    <div class="p-3 container d-flex justify-content-center align-items-center">
      <div class="mat-elevation-z2 p-4">
       <form #editcategorie="ngForm" name="form">
        <mat-form-field class="example-full-width container mx-2">
          <mat-label>Nom de la catégorie</mat-label>
          <input matInput name="nomcategorie"  [(ngModel)]="categorie.nom" required>
        </mat-form-field>
          <div class="d-flex">
            <button class="mx-2" (click)="onClear()" routerLink="/admin/categories" mat-raised-button>Annuler</button>
            <button class="mx-2" [disabled]="editcategorie.invalid" (click)="onEditCategorie()" mat-raised-button color="primary">Modifier</button>
          </div>
       </form>
      </div>
    </div>
  </div>
  </div>

<!-- Detail categorie -->

<!-- <div class="container-fluid my-5 mat-elevation-z2 p-3" *ngIf="currentPage==='detail'">
<div class="d-flex flex-column">
  <div class="container d-flex align-items-center mb-4">
    <button matTooltip="Retour" (click)="onListSelection()"  class="mx-2" mat-mini-fab color="primary" aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="mt-3">DESCRIPTION DU categorie</h1>
  </div>
  <table class="table table-striped align-middle">
    <tbody class="">
      <tr>
        <td class="text-sgr" style="font-weight: 900;">Nom</td>
        <td>{{ categorie?.nom }}</td>
      </tr>
      <tr>
        <td class="text-sgr" style="font-weight: 900;">Prenom</td>
        <td>{{categorie?.prenom}}</td>
      </tr>
      <tr>
        <td class="text-sgr" style="font-weight: 900;">Téléphone</td>
        <td>{{categorie?.telehone}}</td>
      </tr>
      <tr>
        <td class="text-sgr" style="font-weight: 900;">Receptions</td>
        <td *ngIf="categorie?.receptions">
              <table  class="table table-striped align-middle">
                  <tbody>
                    <tr *ngFor="let recept of categorie?.receptions">
                      <td>{{recept?.id}}</td>
                      <td>{{recept?.caracteristique}}</td>
                      <td>{{recept?.numeroSerie}}</td>
                    </tr>
                  </tbody>
              </table>
        </td>
        <td *ngIf="!categorie?.receptions">Aucune</td>
      </tr>
      <tr>
        <td class="text-sgr" style="font-weight: 900;">Date de Création</td>
        <td>{{categorie?.createdAt | date}}</td>
      </tr>
      <tr>
        <td class="text-sgr" style="font-weight: 900;">Date de Modification</td>
        <td>{{categorie?.updateAt | date}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div> -->

<!-- AJOUT -->

<div class="container-fluid my-5 p-3" *ngIf="currentPage==='add'">
<div class="d-flex container-fluid flex-column justify-content-center align-items-center">
  <div class="d-flex container mb-4">
    <button matTooltip="Retour" (click)="onListSelection()"  class="mx-2" mat-mini-fab color="primary" aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="mt-1">NOUVELLE CATÉGORIE</h1>
  </div>
  <div class="p-3 container d-flex justify-content-center align-items-center">
    <div class="mat-elevation-z2 p-4">
     <form #addcategorie="ngForm" name="form">
      <mat-form-field class="example-full-width container mx-2">
        <mat-label>Nom de la categorie</mat-label>
        <input matInput name="nomcategorie"  [(ngModel)]="categorie.nom" required>
      </mat-form-field>
        <div class="d-flex">
          <button class="mx-2" mat-raised-button (click)="onClear()">Annuler</button>
          <button class="mx-2" [disabled]="addcategorie.invalid" (click)="onSubmitCategorie()" mat-raised-button color="primary">Sauvegarder</button>
        </div>
     </form>
    </div>
  </div>
</div>
</div>
